<footer class="page-footer blue bg-dark">
  <div class="footer-copyright text-center py-3 row-cols-1" >
    <p>My name is David Rosenberg, I am an Information Systems Engineering graduate from Ben-Gurion University with 87 GPA.<br>
      I have one and a half years of experience at Intel as a Full-Stack Developer in a student position, using technologies such as Angular, .NET (C#) and SQL Server.<br>
      In addition, I have a good knowledge of Java, Node.js, NoSQL and RESTful APIs.<br>
      I am highly motivated, looking for a Backend/Full-Stack Developer position.
    </p>
    <img src="../../assets/profile_pic.jpg" width="150" height="150" class="border border-light rounded-circle" alt="Linkedin Profile Image">
    <div class="LI-profile-badge"  data-version="v1" data-size="medium" data-locale="en_US" data-type="horizontal" data-theme="dark" data-vanity="davidrosenberg8"><a class="LI-simple-link" href='https://il.linkedin.com/in/davidrosenberg8?trk=profile-badge'>David Rosenberg</a></div>
  </div>
</footer>
